__pycache__/
*.py[cod]

model/
data
result
training-runs
wandb
build

.DS_Store
.ipynb_checkpoints
data
output
debug
*.pyc
deep-head-pose
EvalImages
cache*
*.pkl
gif
archive
*.ply
eval
out

# evaluation:
temp/
shapes/
imgs/
vids/
*.mp4

logs
*.zip
*.obj
*.npy
*.out
*.jpg
*.so
*linux-x86_64*
*egg-info*
metrics/__pycache__/__init__.cpython-39.pyc
dnnlib/__pycache__/__init__.cpython-39.pyc
dnnlib/__pycache__/util.cpython-39.pyc
metrics/__pycache__/__init__.cpython-39.pyc
metrics/__pycache__/frechet_inception_distance.cpython-39.pyc
metrics/__pycache__/metric_main.cpython-39.pyc
metrics/__pycache__/metric_utils.cpython-39.pyc
torch_utils/__pycache__/__init__.cpython-39.pyc
torch_utils/__pycache__/custom_ops.cpython-39.pyc
torch_utils/__pycache__/misc.cpython-39.pyc
torch_utils/__pycache__/persistence.cpython-39.pyc
torch_utils/__pycache__/training_stats.cpython-39.pyc
torch_utils/ops/__pycache__/__init__.cpython-39.pyc
torch_utils/ops/__pycache__/bias_act.cpython-39.pyc
torch_utils/ops/__pycache__/conv2d_gradfix.cpython-39.pyc
torch_utils/ops/__pycache__/conv2d_resample.cpython-39.pyc
torch_utils/ops/__pycache__/cuda_gridsample.cpython-39.pyc
torch_utils/ops/__pycache__/filtered_lrelu.cpython-39.pyc
torch_utils/ops/__pycache__/fma.cpython-39.pyc
torch_utils/ops/__pycache__/grid_sample_gradfix.cpython-39.pyc
torch_utils/ops/__pycache__/upfirdn2d.cpython-39.pyc
training/__pycache__/__init__.cpython-39.pyc
training/__pycache__/networks_stylegan2.cpython-39.pyc
training/__pycache__/networks_stylegan3.cpython-39.pyc
training/__pycache__/superresolution.cpython-39.pyc
training/__pycache__/triplane.cpython-39.pyc
training/deformers/__pycache__/snarf_deformer.cpython-39.pyc
training/deformers/fast_snarf/lib/model/__pycache__/deformer_torch.cpython-39.pyc
training/deformers/smplx/__pycache__/__init__.cpython-39.pyc
training/deformers/smplx/__pycache__/body_models.cpython-39.pyc
training/deformers/smplx/__pycache__/lbs.cpython-39.pyc
training/deformers/smplx/__pycache__/utils.cpython-39.pyc
training/deformers/smplx/__pycache__/vertex_ids.cpython-39.pyc
training/deformers/smplx/__pycache__/vertex_joint_selector.cpython-39.pyc
training/volumetric_rendering/__pycache__/__init__.cpython-39.pyc
training/volumetric_rendering/__pycache__/math_utils.cpython-39.pyc
training/volumetric_rendering/__pycache__/ray_marcher.cpython-39.pyc
training/volumetric_rendering/__pycache__/ray_sampler.cpython-39.pyc
training/volumetric_rendering/__pycache__/renderer.cpython-39.pyc
utils/__pycache__/__init__.cpython-39.pyc
utils/__pycache__/legacy.cpython-39.pyc
utils/__pycache__/mesh_renderer.cpython-39.pyc
utils/__pycache__/visualization_utils.cpython-39.pyc
